:root{
  --mainRed:#ff6b6b;
  --mainYellow:#ffe66d;
  --mainTeal:#4ecdc4;
  --mainBlue:#1a535c;
  --mainWhite:#f3f3f3;
  --coolWhite:#d89393;
}
body{
  font-family: 'Open Sans', sans-serif !important;

}
.text-title{
  font-family: 'Chelsea Market', cursive !important;
  text-transform: uppercase;
}
.card{
  margin: 0 10px;
}
.text-blue{
  color: var(--mainBlue);
  font-size: 3rem;
}
.text-blue-grade{
  font-size: 1rem;
  clear: both;
  display: inline-block;
  white-space: nowrap;
}
.botcard{
  background-color: var(--mainWhite) !important;
  color: var(--mainBlue);
}
