:root{
  --mainRed:#ff6b6b;
  --mainYellow:#ffe66d;
  --mainTeal:#4ecdc4;
  --mainBlue:#1a535c;
  --mainWhite:#f3f3f3;
  --coolWhite:#d89393;
}
body{
  font-family: 'Open Sans', sans-serif !important;

}
.text-title{
  font-family: 'Chelsea Market', cursive !important;
  text-transform: uppercase;
}
.prob{
	position: absolute;
	top: 10px;
	right:25%;
	
}
.card{
  margin: 0 10px;
}
.text-blue{
  color: var(--mainBlue);
  font-size: 3rem;
}
.text-blue-grade{
  font-size: 1rem;
  clear: both;
  display: inline-block;
  white-space: nowrap;
}
.botcard{
  background-color: var(--mainWhite) !important;
  color: var(--mainBlue);
}
.home-title{
  font-size: 3rem;
  position: relative;
  top:100px;
}


.button__wrapper {
	
	width: 400px;
	height: 65px;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
}

.button-typewriter button {
    background: transparent;
    color: var(--mainBlue);
    border: 3px solid var(--mainBlue);
    border-radius: 50px;
    padding: 0.8rem 2rem;
    font: 24px "Margarine", sans-serif;
    outline: none;
    cursor: pointer;
    position: relative;
    transition: 0.2s ease-in-out;
    letter-spacing: 2px;
    width: 100%;
		height: 100%;
  }
  
	.button-typewriter p {
		animation: typing 4s steps(12) infinite;
		display: inline-block;
		overflow: hidden;
		white-space: nowrap;
	}
	.button-typewriter .button__wrapper:hover p {
		animation: blink 0.3s infinite;
  }
  .button-typewriter button:hover{
    animation: heartbeat 0.2s infinite;
  }

.button-jittery button {
  background: transparent;
	color: var(--mainTeal);
	border: 3px solid var(--mainTeal);
	border-radius: 50px;
	padding: 0.8rem 2rem;
	font: 24px "Margarine", sans-serif;
	outline: none;
	cursor: pointer;
	position: relative;
	transition: 0.2s ease-in-out;
	letter-spacing: 2px;
  animation: jittery 4s infinite;

}
.button-jittery button:hover{
  animation: heartbeat 0.2s infinite;
}

.threebuttons{
	color: var(--mainWhite);
	margin-top: 100px;
	text-align: center;

}
.threebuttons > div{
	background-color: var(--mainRed);
	margin:10px 20px;
	border-radius: 25px;
	padding: 20px;


}
.threebuttons>div>h2{
	margin: 10px;
}
.threebuttons>div>img{
	border-radius: 10px;
}
.vft{
	margin: 100px auto;
	padding: 0;
	font-family: 'Josefin Sans', sans-serif;
	color: var(--mainWhite);
}
.vft .row1{
	position: relative;
	top: 300px;
	margin: 0 auto;
	text-align: center;
}
.vft .row2{
	position: relative;
	top: 720px;
}
.vft .row{
	margin: 30px 0;
	
}
.details>h2{
	margin: 15px 0 5px 0;
	text-transform: uppercase;
}
.kard{
    
    width: 300px;
    height: 400px;
    transform-style: preserve-3d;
    perspective: 600px;
	transition: 0.5s;
	margin-left:auto;
	margin-right:auto;
	display:block;
	margin-top: 20px;
}
.kard .front{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    backface-visibility: hidden;
    transform: rotateX(0deg);
    transition: 0.5s;
}
.kard:hover .front{
    transform: rotateX(-180deg);
}
.kard .back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    backface-visibility: hidden;
    transform: rotateX(180deg);
    transition: 0.5s;
}
.kard:hover .back{
    transform: rotateX(0deg);
}
.kard .back .details{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
}

.options>ul{
	
	list-style: none;
	display: block;
  position: absolute;
  width: 100%;
  padding: 0;
  line-height: 2.3rem;
}
.options>ul>li{
border-bottom: 3px solid #fff;
}
.options>ul>li>a{
	color: var(--mainWhite);
	z-index: 10;
	transition: ease-in-out .2s;
	}
.options>ul>li>a:hover{
	text-decoration: none;
	color: cyan;
	
	font-size: 18px;
	}
	.SRG{
		position: relative;
		top:200px;

	}

@keyframes jittery {
	5%,
	50% {
		transform: scale(1);
	}
	10% {
		transform: scale(0.9);
	}
	15% {
		transform: scale(1.15);
	}
	20% {
		transform: scale(1.15) rotate(-5deg);
	}
	25% {
		transform: scale(1.15) rotate(5deg);
	}
	30% {
		transform: scale(1.15) rotate(-3deg);
	}
	35% {
		transform: scale(1.15) rotate(2deg);
	}
	40% {
		transform: scale(1.15) rotate(0);
	}
}
@keyframes heartbeat {
	50% {
		transform: scale(1.1);
	}
}
@keyframes typing {
	0% {
		width: 0;
	}
	50% {
		width: 100%;
	}
	55%,
	65%,
	75% {
		opacity: 1;
	}
	60%,
	70% {
		opacity: 0;
	}
	80% {
		width: 100%;
	}
	100% {
		width: 0;
	}
}
@-webkit-keyframes glow {
	from {
	  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
	}
	to {
	  text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
	}
  }
  @font-face {
	  font-family: neon;
	  src: url(./hellodenverdisplayregular_v1.6.ttf);
  }